{% extends "header.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                Please enter an expression or equation in SymPy (Python) notation to calculate the derivative.
                For example, you could enter 
                <code>x ** 2 + 2 * x + 1</code> in the first box and 
                <code>x</code> into the second box, and you should get 
                \(2x + 2\)
            </div>
            <form action="" class="my-2 my-lg-0" method="post">
                <div class="form-group">
                    {{ form.csrf_token }}

                    {{ form.equation.label }}
                    {{ form.equation(class="form-control") }}
    
                    {% if form.equation.errors %}
                    <div class="alert alert-warning" role="alert">
                      {% for error in form.equation.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% endif %}

                    {{ form.variable.label }}
                    {{ form.variable(class="form-control") }}
    
                    {% if form.variable.errors %}
                    <div class="alert alert-warning" role="alert">
                      {% for error in form.variable.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% endif %}
    
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </form>
        </div>
    </div>

    {% if derivative %}
    <div class="row">
        <div class="col">
            The result is: $${{ derivative }}$$
        </div>
    </div>
    {% endif %}

{# Scripts for MathJax for visualizing Math #}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</div>
{% endblock %}