{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Profile picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        {# Greeting #}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Username Update Form #}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Profile Picture Update Form #}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Link to see all of the current user's reviews. #}
    </div>
</div>
{% endblock %}