{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Log In</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Add link to redirect users to Registration page if they don't have an account #}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Optionally show flashed messages if/when you need them,
            if an authentication or other similar error occurs #}
        {# Login form rendered here with Bootstrap classes #}
    </div>
</div>
{% endblock %}